:root {
  --color-theme-dark: #390797;
  // --color-theme: rgba(64, 71, 214, 1); // #4047D6
  --color-theme: #0045ff;
  --color-theme-light: #7100ff;

  --color-base: rgba(30, 37, 58, 1);
  --color-content: rgba(30, 37, 58, 0.6);
  --color-tip: rgba(30, 37, 58, 0.3);

  --color-base-light: rgba(255, 255, 255, 1);
  --color-content-light: #fff;
  --color-tip-light: rgba(255, 255, 255, 0.3);

  --background-common: #fff;
  --background-theme: #fff;

  --border-common: #f2f2f2;
}
